# 以'#'开始的行，被视为注释.                                                                                                                          

# 忽略掉所有文件名是 foo.txt的文件.

foo.txt

# 忽略所有的 MyEclipse 文件

.settings
.classpath
.mymetadata
.project

# 忽略所有的 idea 文件

.idea
*.iml


# 忽略所有.class文件.

*.class

BAE_CONF/
cncounter/src/main/webapp/WEB-INF/classes/*
generator_log*

/cncounter/target/*
/cncounter-web/target/*
