# 以'#'开始的行，被视为注释.                                                                                                                          

# 忽略掉所有文件名是 foo.txt的文件.

foo.txt

# 忽略所有生成的 html文件,

*.html2

# foo.html是手工维护的，所以例外.

!foo.html

# 忽略所有.o和 .a文件.

*.[oa]

# 忽略所有.class文件.

*.class

BAE_CONF/
cncounter/target/*