/* 自定义样式 */

/* 这是以前的，没什么用,也没用到 */
.x-form-field-readonly{
	border:0;
	background:#FAFCFD;
}
.label-margin-20{
	margin:0px 20px;
}

/* 大龙的 TextActionColumn 组件使用 */
.x-textaction-butt {
    text-decoration: none;
    color: #336997 !important;
}

/* iScroll 是滚动条样式,用于控制左侧区域的菜单过多进行滚动的 */

.iScroll ::-webkit-scrollbar, .iScroll::-webkit-scrollbar {
    width: 3px;
    height: 0px
}
.iScroll ::-webkit-scrollbar-button:start:decrement, .iScroll ::-webkit-scrollbar-button:end:increment, .iScroll::-webkit-scrollbar-button:start:decrement, .iScroll::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent
}
.iScroll ::-webkit-scrollbar-track-piece, .iScroll::-webkit-scrollbar-track-piece {
    margin: 0px 0;
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px
}
.iScroll ::-webkit-scrollbar-thumb:vertical, .iScroll::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(0,0,0,0.12);
    -webkit-border-radius: 4px
}
.iScroll ::-webkit-scrollbar-thumb:horizontal, .iScroll::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    height: 0px;
    background-color: rgba(0,0,0,0.12);
    -webkit-border-radius: 2px
}
#treecontainer .iScroll ::-webkit-scrollbar-thumb:vertical, #treecontainer .iScroll::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(0,0,0,0.06);
    -webkit-border-radius: 2px
}