@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

html,body {
	width:100%;
	height: 100%;
}

textarea {
	resize: none;
}

pre{
	background-color: #333;
	color: #F8F8F8;
}

.hide{
	display:none;
	visibility: hidden;
}
.floatright{
	float: right;
}
/* book*/
.translatetable{
	margin-top: 20px;
	margin-left: 1%;
	width:98%;
	border-collapse:collapse;
}
.translatetable th{
	width:49%;
	font-size: 20px;
	line-height: 30px;
}
.translatetable img{
	width:95%;
	font-size: 20px;
	line-height: 30px;
}
.language {
	width: 49%;
	border:1px solid #DDDDDD;
	margin: 1px;
	padding: 5px;
}

.language.english {
	color: blue;
}

.language.chinese {
	color: black;
}

.h2 {
	font-family: "heading", sans-serif;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
	letter-spacing: -1px;
}