/* 页面标签样式*/

*{
	margin:0px;
	padding:0px;
}
body{
    margin:0 auto;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

/* 登录页面部分 start */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 登录页面部分 end*/

/* 部分特殊class样式*/
/* 隐藏 */
.hide{
	display: none !important;
	visibility: hidden;
}

.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.left{
	float: left;
}
.right{
	float: right;
}

/* 单个使用的CSS*/

/* 顶部元素 */
.header{
	height: 50px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.container{
	min-height: 40px;
}
.content_left{
	float: left;
}
.sidebar{
	width : 220px;
}

/* 底部元素 */
.footer{
	height: 85px;
	width: 100%;
	text-align: center;
	overflow: hidden;
	position: relative;
	bottom: 5px;
}
/*CNZZ*/
.cnzz{
	text-align: center;
	font-family: 'Open Sans', Myriad, Calibri, sans-serif;
	font-weight: bold;
	font-size: .8em;
	color: #8b786f;
}