<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cncounter.cncounter.dao.api.vote.VoteRecordMapper" >
  <resultMap id="BaseResultMap" type="com.cncounter.cncounter.model.vote.VoteRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="voteid" property="voteid" jdbcType="INTEGER" />
    <result column="voteoptionid" property="voteoptionid" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="userip" property="userip" jdbcType="VARCHAR" />
    <result column="anonymous" property="anonymous" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="gen" property="gen" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, voteid, voteoptionid, userid, userip, anonymous, remark, createtime, gen
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from voterecord
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from voterecord
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cncounter.cncounter.model.vote.VoteRecord" >
    insert into voterecord (id, voteid, voteoptionid, 
      userid, userip, anonymous, 
      remark, createtime, gen
      )
    values (#{id,jdbcType=INTEGER}, #{voteid,jdbcType=INTEGER}, #{voteoptionid,jdbcType=INTEGER}, 
      #{userid,jdbcType=VARCHAR}, #{userip,jdbcType=VARCHAR}, #{anonymous,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{gen,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cncounter.cncounter.model.vote.VoteRecord" >
    insert into voterecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="voteid != null" >
        voteid,
      </if>
      <if test="voteoptionid != null" >
        voteoptionid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="userip != null" >
        userip,
      </if>
      <if test="anonymous != null" >
        anonymous,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="gen != null" >
        gen,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="voteid != null" >
        #{voteid,jdbcType=INTEGER},
      </if>
      <if test="voteoptionid != null" >
        #{voteoptionid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="userip != null" >
        #{userip,jdbcType=VARCHAR},
      </if>
      <if test="anonymous != null" >
        #{anonymous,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="gen != null" >
        #{gen,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cncounter.cncounter.model.vote.VoteRecord" >
    update voterecord
    <set >
      <if test="voteid != null" >
        voteid = #{voteid,jdbcType=INTEGER},
      </if>
      <if test="voteoptionid != null" >
        voteoptionid = #{voteoptionid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="userip != null" >
        userip = #{userip,jdbcType=VARCHAR},
      </if>
      <if test="anonymous != null" >
        anonymous = #{anonymous,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="gen != null" >
        gen = #{gen,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cncounter.cncounter.model.vote.VoteRecord" >
    update voterecord
    set voteid = #{voteid,jdbcType=INTEGER},
      voteoptionid = #{voteoptionid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=VARCHAR},
      userip = #{userip,jdbcType=VARCHAR},
      anonymous = #{anonymous,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      gen = #{gen,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>