.action {background-image:url(../images/icons/action.png);}
.add {background-image:url(../images/icons/add.png);}
.add_contact {background-image:url(../images/icons/add_contact.png);}
.apple {background-image:url(../images/icons/apple.png);}
.approve {background-image:url(../images/icons/approve.png);}
.arrow-down {background-image:url(../images/icons/arrow_down.png);}
.arrow-left {background-image:url(../images/icons/arrow_left.png);}
.arrow-right {background-image:url(../images/icons/arrow_right.png);}
.arrow-up {background-image:url(../images/icons/arrow_up.png);}
.baggage_trolley {background-image:url(../images/icons/baggage_trolley.png);}
.ball {background-image:url(../images/icons/ball.png);}
.barcode {background-image:url(../images/icons/barcode.png);}
.bar-chart {background-image:url(../images/icons/bar_chart.png);}
.battery-charging {background-image:url(../images/icons/battery_charging.png);}
.battery-empty {background-image:url(../images/icons/battery_empty.png);}
.battery-full {background-image:url(../images/icons/battery_full.png);}
.battery-one-bar {background-image:url(../images/icons/battery_one_bar.png);}
.battery-two-bars {background-image:url(../images/icons/battery_two_bars.png);}
.bed {background-image:url(../images/icons/bed.png);}
.bell {background-image:url(../images/icons/bell.png);}
.bicycle {background-image:url(../images/icons/bicycle.png);}
.block {background-image:url(../images/icons/block.png);}
.boat {background-image:url(../images/icons/boat.png);}
.book {background-image:url(../images/icons/book.png);}
.bottle {background-image:url(../images/icons/bottle.png);}
.box {background-image:url(../images/icons/box.png);}
.box-add {background-image:url(../images/icons/box_add.png);}
.box-approve {background-image:url(../images/icons/box_approve.png);}
.box-delete {background-image:url(../images/icons/box_delete.png);}
.box-remove {background-image:url(../images/icons/box_remove.png);}
.briefcase {background-image:url(../images/icons/briefcase.png);}
.briefcase-download {background-image:url(../images/icons/briefcase_download.png);}
.briefcase-upload {background-image:url(../images/icons/briefcase_upload.png);}
.bullseye {background-image:url(../images/icons/bullseye.png);}
.bumerang {background-image:url(../images/icons/bumerang.png);}
.bus {background-image:url(../images/icons/bus.png);}
.calculator {background-image:url(../images/icons/calculator.png);}
.calendar {background-image:url(../images/icons/calendar.png);}
.candle {background-image:url(../images/icons/candle.png);}
.car {background-image:url(../images/icons/car.png);}
.card {background-image:url(../images/icons/card.png);}
.chess {background-image:url(../images/icons/chess.png);}
.clock {background-image:url(../images/icons/clock.png);}
.cloud {background-image:url(../images/icons/cloud.png);}
.cloud-download {background-image:url(../images/icons/cloud_download.png);}
.cloud-rain {background-image:url(../images/icons/cloud_rain.png);}
.cloud-thunder {background-image:url(../images/icons/cloud_thunder.png);}
.cloud-upload {background-image:url(../images/icons/cloud_upload.png);}
.coffee {background-image:url(../images/icons/coffee.png);}
.comb {background-image:url(../images/icons/comb.png);}
.comment {background-image:url(../images/icons/comment.png);}
.comment-gray {background-image:url(../images/icons/comment_gray.png);}
.comment-add {background-image:url(../images/icons/comment_add.png);}
.comment-approve {background-image:url(../images/icons/comment_approve.png);}
.comment-delete {background-image:url(../images/icons/comment_delete.png);}
.comment-remove {background-image:url(../images/icons/comment_remove.png);}
.computer {background-image:url(../images/icons/computer.png);}
.contact-approve {background-image:url(../images/icons/contact_approve.png);}
.contact-delete {background-image:url(../images/icons/contact_delete.png);}
.contact_remove {background-image:url(../images/icons/contact_remove.png);}
.credit_card {background-image:url(../images/icons/credit_card.png);}
.crown {background-image:url(../images/icons/crown.png);}
.database {background-image:url(../images/icons/database.png);}
.delete {background-image:url(../images/icons/delete.png);}
.diamond {background-image:url(../images/icons/diamond.png);}
.diary {background-image:url(../images/icons/diary.png);}
.diary-add {background-image:url(../images/icons/diary_add.png);}
.diary-approve {background-image:url(../images/icons/diary_approve.png);}
.diary-delete {background-image:url(../images/icons/diary_delete.png);}
.diary-remove {background-image:url(../images/icons/diary_remove.png);}
.dislike {background-image:url(../images/icons/dislike.png);}
.double-bed {background-image:url(../images/icons/double_bed.png);}
.drink {background-image:url(../images/icons/drink.png);}
.drop {background-image:url(../images/icons/drop.png);}
.edit {background-image:url(../images/icons/edit.png);}
.email {background-image:url(../images/icons/email.png);}
.euro {background-image:url(../images/icons/euro.png);}
.eyedropper {background-image:url(../images/icons/eyedropper.png);}
.fast-backward {background-image:url(../images/icons/fast_backward.png);}
.fast-forward {background-image:url(../images/icons/fast_forward.png);}
.film {background-image:url(../images/icons/film.png);}
.filter {background-image:url(../images/icons/filter.png);}
.fix {background-image:url(../images/icons/fix.png);}
.flag {background-image:url(../images/icons/flag.png);}
.folder {background-image:url(../images/icons/folder.png);}
.folder-add {background-image:url(../images/icons/folder_add.png);}
.folder-approve {background-image:url(../images/icons/folder_approve.png);}
.folder-delete {background-image:url(../images/icons/folder_delete.png);}
.folder-remove {background-image:url(../images/icons/folder_remove.png);}
.food {background-image:url(../images/icons/food.png);}
.fullscreen {background-image:url(../images/icons/fullscreen.png);}
.hammer {background-image:url(../images/icons/hammer.png);}
.hand {background-image:url(../images/icons/hand.png);}
.headphones {background-image:url(../images/icons/headphones.png);}
.heart {background-image:url(../images/icons/heart.png);}
.home {background-image:url(../images/icons/home.png);}
.hourglass {background-image:url(../images/icons/hourglass.png);}
.id-card {background-image:url(../images/icons/id_card.png);}
.images {background-image:url(../images/icons/images.png);}
.inbox {background-image:url(../images/icons/inbox.png);}
.inbox-empty {background-image:url(../images/icons/inbox_empty.png);}
.information {background-image:url(../images/icons/information.png);}
.key {background-image:url(../images/icons/key.png);}
.laboratory {background-image:url(../images/icons/laboratory.png);}
.layout-coloumns {background-image:url(../images/icons/layout_coloumns.png);}
.layout-rows {background-image:url(../images/icons/layout_rows.png);}
.layout-squares {background-image:url(../images/icons/layout_squares.png);}
.layout-squares-small {background-image:url(../images/icons/layout_squares_small.png);}
.leaves {background-image:url(../images/icons/leaves.png);}
.light-bulb {background-image:url(../images/icons/light_bulb.png);}
.like {background-image:url(../images/icons/like.png);}
.list {background-image:url(../images/icons/list.png);}
.locked {background-image:url(../images/icons/locked.png);}
.lollipop {background-image:url(../images/icons/lollipop.png);}
.magic-wand {background-image:url(../images/icons/magic_wand.png);}
.magnet {background-image:url(../images/icons/magnet.png);}
.mail {background-image:url(../images/icons/mail.png);}
.map-pin {background-image:url(../images/icons/map_pin.png);}
.measure {background-image:url(../images/icons/measure.png);}
.medal {background-image:url(../images/icons/medal.png);}
.megaphone {background-image:url(../images/icons/megaphone.png);}
.microphone {background-image:url(../images/icons/microphone.png);}
.monitor {background-image:url(../images/icons/monitor.png);}
.mouse {background-image:url(../images/icons/mouse.png);}
.move {background-image:url(../images/icons/move.png);}
.mp3-player {background-image:url(../images/icons/mp3_player.png);}
.museum {background-image:url(../images/icons/museum.png);}
.music {background-image:url(../images/icons/music.png);}
.notebook {background-image:url(../images/icons/notebook.png);}
.outbox {background-image:url(../images/icons/outbox.png);}
.page {background-image:url(../images/icons/page.png);}
.page-add {background-image:url(../images/icons/page_add.png);}
.page-approve {background-image:url(../images/icons/page_approve.png);}
.page-delete {background-image:url(../images/icons/page_delete.png);}
.page-remove {background-image:url(../images/icons/page_remove.png);}
.page-writing {background-image:url(../images/icons/page_writing.png);}
.paint-brush {background-image:url(../images/icons/paint_brush.png);}
.parking {background-image:url(../images/icons/parking.png);}
.pause {background-image:url(../images/icons/pause.png);}
.percent {background-image:url(../images/icons/percent.png);}
.phone {background-image:url(../images/icons/phone.png);}
.photo-camera {background-image:url(../images/icons/photo_camera.png);}
.piano {background-image:url(../images/icons/piano.png);}
.pie-chart {background-image:url(../images/icons/pie_chart.png);}
.pin {background-image:url(../images/icons/pin.png);}
.play {background-image:url(../images/icons/play.png);}
.plug {background-image:url(../images/icons/plug.png);}
.present {background-image:url(../images/icons/present.png);}
.print {background-image:url(../images/icons/print.png);}
.puzzle {background-image:url(../images/icons/puzzle.png);}
.quote {background-image:url(../images/icons/quote.png);}
.radio {background-image:url(../images/icons/radio.png);}
.reception-bell {background-image:url(../images/icons/reception_bell.png);}
.repair-add {background-image:url(../images/icons/repair_add.png);}
.repair-approve {background-image:url(../images/icons/repair_approve.png);}
.repair-delete {background-image:url(../images/icons/repair_delete.png);}
.repair-remove {background-image:url(../images/icons/repair_remove.png);}
.replay {background-image:url(../images/icons/replay.png);}
.save {background-image:url(../images/icons/save.png);}
.save-approve {background-image:url(../images/icons/save_approve.png);}
.save-x {background-image:url(../images/icons/save_x.png);}
.scissors {background-image:url(../images/icons/scissors.png);}
.screen-maximize {background-image:url(../images/icons/screen_maximize.png);}
.screen-minimize {background-image:url(../images/icons/screen_minimize.png);}
.search {background-image:url(../images/icons/search.png);}
.settings {background-image:url(../images/icons/settings.png);}
.shopping-bag {background-image:url(../images/icons/shopping_bag.png);}
.shopping-chart {background-image:url(../images/icons/shopping_chart.png);}
.shuffle {background-image:url(../images/icons/shuffle.png);}
.smart-phone {background-image:url(../images/icons/smart_phone.png);}
.sound-full {background-image:url(../images/icons/sound_full.png);}
.sound-low {background-image:url(../images/icons/sound_low.png);}
.speedometer {background-image:url(../images/icons/speedometer.png);}
.spray {background-image:url(../images/icons/spray.png);}
.star {background-image:url(../images/icons/star.png);}
.stop {background-image:url(../images/icons/stop.png);}
.sun {background-image:url(../images/icons/sun.png);}
.tag {background-image:url(../images/icons/tag.png);}
.teddy-bear {background-image:url(../images/icons/teddy_bear.png);}
.thermometer {background-image:url(../images/icons/thermometer.png);}
.trash {background-image:url(../images/icons/trash.png);}
.tree {background-image:url(../images/icons/tree.png);}
.tune {background-image:url(../images/icons/tune.png);}
.umbrella {background-image:url(../images/icons/umbrella.png);}
.usb-drive {background-image:url(../images/icons/usb_drive.png);}
.user {background-image:url(../images/icons/user.png);}
.Users {background-image:url(../images/icons/Users.png);}
.video-camera {background-image:url(../images/icons/video_camera.png);}
.view {background-image:url(../images/icons/view.png);}
.warning {background-image:url(../images/icons/warning.png);}
.warning-sign {background-image:url(../images/icons/warning_sign.png);}
.webcam {background-image:url(../images/icons/webcam.png);}
.weights {background-image:url(../images/icons/weights.png);}
.window {background-image:url(../images/icons/window.png);}
.window-accept {background-image:url(../images/icons/window_accept.png);}
.window-add {background-image:url(../images/icons/window_add.png);}
.window-delete {background-image:url(../images/icons/window_delete.png);}
.window-remove {background-image:url(../images/icons/window_remove.png);}
.window-text {background-image:url(../images/icons/window_text.png);}
.wired {background-image:url(../images/icons/wired.png);}
.write {background-image:url(../images/icons/write.png);}
.refresh {background-image:url(../images/icons/refresh.gif);}
.arrow_up {background-image:url(../images/icons/arrow_up.png);}